@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 221 73% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 83.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 83.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 14% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 25% 91%;
    --input: 215 25% 91%;
    --ring: 221 73% 57%;
    --radius: 0.5rem;
    --chart-1: 0 72% 51%;
    --chart-2: 142 71% 45%;
    --chart-3: 221 83% 53%;
    --chart-4: 45 93% 47%;
    --chart-5: 262 74% 54%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 221 73% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 210 14% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 221 73% 57%;
    --chart-1: 0 72% 51%;
    --chart-2: 142 71% 45%;
    --chart-3: 221 83% 53%;
    --chart-4: 45 93% 47%;
    --chart-5: 262 74% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
